<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{dd.MM.yyyy HH:mm:ss.SSS}] %-5level %-36logger{36}: %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="ch.bind" level="DEBUG" />
	<logger name="ch.bind.philib.lang.ThreadUtil" level="DEBUG" />

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
