<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="philib" verbose="1" parallel="false">
	<!-- parallel="classes" thread-count="8"> -->
	<test name="all">
		<packages>
			<package name="ch.bind.philib.*" />
		</packages>
	</test>
</suite>
